{% extends "base.html" %}

{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">About Me</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Edit About Me</a></li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" novalidate action="/about" enctype="multipart/form-data" method="POST">
                                <div class="form-row">
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">First Name</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="firstname"
                                            value="{{about.firstname}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">Last Name</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="lastname"
                                            value="{{about.lastname}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">Position</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="position"
                                            value="{{about.position}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">Nationality</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="nationality"
                                            value="{{about.nationality}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">Age</label>
                                        <input type="number" min="0" class="form-control" id="validationCustom01" name="age"
                                            value="{{about.age}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="validationCustom01">Experience</label>
                                        <input type="number" class="form-control" id="validationCustom01" name="experience"
                                            value="{{about.experience}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationCustom01">About Me Title</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="about_title"
                                            value="{{about.about_title}}" >
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationTextarea">About Me Description</label>
                                        <textarea class="form-control" id="validationTextarea" name="about_description"
                                            placeholder="" >{{about.about_me}}</textarea>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-8 mb-5">
                                        <label for="validationCustom01">Profile Picture</label>
                                        <div class="form-file">
                                            <input type="file" class="form-control" name="profile"
                                                id="validatedInputGroupCustomFile" accept="image/*" >
                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-4 mb-5 ">
                                        <label for="validationCustom01">Profile</label>
                                        <div class="form-file">
                                            <img src="{{ url_for('static', filename=''+about.profile_image) }}"
                                                            alt="" srcset="" width="50">    
                                        </div>
                                    </div>
                                    <div class="col-xl-8 mb-">
                                        <label for="validationCustom01">About Me Picture</label>
                                        <div class="form-file">
                                            <input type="file" class="form-control" name="about_picture"
                                                id="validatedInputGroupCustomFile" accept="image/*" >
                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-4 mb-3 ">
                                        <label for="validationCustom01">Image</label>
                                        <div class="form-file">
                                            <img src="{{ url_for('static', filename=''+about.image) }}"
                                                            alt="" srcset="" width="50">    
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationCustom01">Resume</label>
                                        <div class="form-file">
                                            <input type="file" class="form-control" name="resume"
                                                id="validatedInputGroupCustomFile" accept="application/pdf" >
                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->
{% endblock %}



{% block js %}
<!-- JQUERY JS -->
<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>

<!-- BOOTSTRAP JS -->
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- INPUT MASK JS-->
<script src="{{url_for('static', filename='assets/plugins/input-mask/jquery.mask.min.js')}}"></script>

<!-- TypeHead js -->
<script src="{{url_for('static', filename='assets/plugins/bootstrap5-typehead/autocomplete.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/typehead.js')}}"></script>

<!-- SELECT2 JS -->
<script src="{{url_for('static', filename='assets/plugins/select2/select2.full.min.js')}}"></script>

<!-- FORMVALIDATION JS -->
<script src="{{url_for('static', filename='assets/js/form-validation.js')}}"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{{url_for('static', filename='assets/plugins/p-scroll/perfect-scrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/p-scroll/pscroll.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/p-scroll/pscroll-1.js')}}"></script>

<!-- SIDE-MENU JS -->
<script src="{{url_for('static', filename='assets/plugins/sidemenu/sidemenu.js')}}"></script>

<!-- SIDEBAR JS -->
<script src="{{url_for('static', filename='assets/plugins/sidebar/sidebar.js')}}"></script>

<!-- Color Theme js -->
<script src="{{url_for('static', filename='assets/js/themeColors.js')}}"></script>

<!-- Sticky js -->
<script src="{{url_for('static', filename='assets/js/sticky.js')}}"></script>

<!-- CUSTOM JS -->
<script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

<!-- Custom-switcher -->
<script src="{{url_for('static', filename='assets/js/custom-swicher.js')}}"></script>

<!-- Switcher js -->
<script src="{{url_for('static', filename='assets/switcher/js/switcher.js')}}"></script>
{% endblock %}