<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="/">
                <img src="{{url_for('static', filename='assets/images/brand/logo-white.png')}}"
                    class="header-brand-img desktop-logo" alt="logo">
                <img src="{{url_for('static', filename='assets/images/brand/icon-white.png')}}"
                    class="header-brand-img toggle-logo" alt="logo">
                <img src="{{url_for('static', filename='assets/images/brand/icon-dark.png')}}"
                    class="header-brand-img light-logo" alt="logo">
                <img src="{{url_for('static', filename='assets/images/brand/logo-dark.png')}}"
                    class="header-brand-img light-logo1" alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/"><i
                            class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                </li>

                <div id="misc-pages">
                    <!-- section in menu startd -->
                    <li class="sub-category">
                        <h3>Misc Pages</h3>
                    </li>
                    <!-- section in menu ends -->


                    <!-- simple menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="/services"><i
                                class="side-menu__icon fe fe-home"></i><span
                                class="side-menu__label">Services</span></a>
                    </li>
                    <!-- simple menu item ends -->

                    <!-- simple menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="/education"><i
                                class="side-menu__icon fe fe-home"></i><span
                                class="side-menu__label">Qualification</span></a>
                    </li>
                    <!-- simple menu item ends -->

                    <!-- simple menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="/experience"><i
                                class="side-menu__icon fe fe-home"></i><span
                                class="side-menu__label">Experience</span></a>
                    </li>
                    <!-- simple menu item ends -->

                    <!-- simple menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="/messages"><i
                                class="side-menu__icon fe fe-home"></i><span
                                class="side-menu__label">Messages</span></a>
                    </li>
                    <!-- simple menu item ends -->

                    <!-- Dropdown menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-cpu"></i>
                            <span class="side-menu__label">Projects</span><i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li class="panel sidetab-menu">

                                <div class="panel-body tabs-menu-body p-0 border-0">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="side25">
                                            <ul class="sidemenu-list">
                                                <li class="side-menu-label1"><a href="javascript:void(0)">Projects</a>
                                                </li>
                                                <li><a href="/project-category" class="slide-item">Project
                                                        Category</a></li>
                                                <li><a href="/projects" class="slide-item">Project</a>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Dropdown menu item ends-->

                    <!-- Dropdown menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-cpu"></i>
                            <span class="side-menu__label">Skills</span><i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li class="panel sidetab-menu">

                                <div class="panel-body tabs-menu-body p-0 border-0">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="side25">
                                            <ul class="sidemenu-list">
                                                <li class="side-menu-label1"><a href="javascript:void(0)">Skills</a>
                                                </li>
                                                <li><a href="/skill-category" class="slide-item">Skill
                                                        Category</a></li>
                                                <li><a href="/skills" class="slide-item">Skill</a>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Dropdown menu item ends-->
                </div>

                <div id="setting-pages">
                    <!-- section in menu startd -->
                    <li class="sub-category">
                        <h3>Setting Pages</h3>
                    </li>
                    <!-- section in menu ends -->


                    <!-- simple menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="/website-setting"><i
                                class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Website
                                Settings</span></a>
                    </li>
                    <!-- simple menu item ends -->

                </div>

                <div id="about-pages">
                    <!-- section in menu startd -->
                    <li class="sub-category">
                        <h3>General Pages</h3>
                    </li>
                    <!-- section in menu ends -->

                    <!-- Dropdown menu item starts -->
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-cpu"></i>
                            <span class="side-menu__label">About Me</span><i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li class="panel sidetab-menu">

                                <div class="panel-body tabs-menu-body p-0 border-0">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="side25">
                                            <ul class="sidemenu-list">
                                                <li class="side-menu-label1"><a href="javascript:void(0)">About Me</a>
                                                </li>
                                                <li><a href="/about" class="slide-item">About</a></li>
                                                <li><a href="/contact" class="slide-item">Contact Info</a>
                                                </li>
                                                <li><a href="/social" class="slide-item">Social Links</a>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Dropdown menu item ends-->
                </div>

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg></div>
        </div>
    </div>
</div>
<!--/APP-SIDEBAR-->