{% extends "base.html" %}

{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Add Experience</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Experience</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Experience</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" novalidate method="POST"  action="/add-experience">
                                <div class="form-row">
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationCustom01">Company</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="company"
                                            value="" required>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationCustom01">Position</label>
                                        <input type="text" class="form-control" id="validationCustom01" name="position"
                                            value="" required>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="validationTextarea">Description</label>
                                        <textarea class="form-control" id="validationTextarea" name="description"
                                            placeholder="" required></textarea>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>`
                                    <div class="col-xl mb-3">
                                        <label for="validationCustom01">Start Date</label>
                                        <div class="wd-200 mg-b-30">
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                </div><input class="form-control fc-datepicker" name="start_date"
                                                    placeholder="MM/DD/YYYY" type="date" id="start-date-work" required>
                                            </div>
                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="col-xl">
                                        <div class="row-xl">
                                            <div class="col-xl mb-3">
                                                <label for="validationCustom01">End Date</label>
                                                <div class="wd-200 mg-b-30">
                                                    <div class="input-group">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                        </div><input class="form-control fc-datepicker" name="end_date"
                                                            placeholder="MM/DD/YYYY" id="end-date-work" type="date" required>
                                                    </div>
                                                </div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                            <div class="col-xl px-3 px-xl-1">
                                                <div class="form-group">
                                                    <label class="custom-switch form-switch mb-0">
                                                        <input type="checkbox" id="current-work-toggle" name="current"
                                                            class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                        <span class="custom-switch-description">Currently
                                                            Working</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>

    {% if message %}
        <div class="position-fixed bottom-0 end-0 p-3">
            <div class="toast align-items-center text-white bg-{{message['status']}} border-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                <div class="d-flex">
                    <div class="toast-body">
                        {{message['message']}}
                    </div>
                    <button aria-label="Close" class="btn-close fs-20 ms-auto mt-2 pe-2" data-bs-dismiss="toast"><span aria-hidden="true">×</span></button>
                </div>
            </div>
        </div>
        {% endif %} 
</div>
<!--app-content closed-->
{% endblock %}



{% block js %}
<!-- JQUERY JS -->
<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>

<!-- BOOTSTRAP JS -->
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- INPUT MASK JS-->
<script src="{{url_for('static', filename='assets/plugins/input-mask/jquery.mask.min.js')}}"></script>

<!-- TypeHead js -->
<script src="{{url_for('static', filename='assets/plugins/bootstrap5-typehead/autocomplete.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/typehead.js')}}"></script>

<!-- SELECT2 JS -->
<script src="{{url_for('static', filename='assets/plugins/select2/select2.full.min.js')}}"></script>

<!-- FORMVALIDATION JS -->
<script src="{{url_for('static', filename='assets/js/form-validation.js')}}"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{{url_for('static', filename='assets/plugins/p-scroll/perfect-scrollbar.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/p-scroll/pscroll.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/p-scroll/pscroll-1.js')}}"></script>

<!-- SIDE-MENU JS -->
<script src="{{url_for('static', filename='assets/plugins/sidemenu/sidemenu.js')}}"></script>

<!-- SIDEBAR JS -->
<script src="{{url_for('static', filename='assets/plugins/sidebar/sidebar.js')}}"></script>

<!-- Color Theme js -->
<script src="{{url_for('static', filename='assets/js/themeColors.js')}}"></script>

<!-- Sticky js -->
<script src="{{url_for('static', filename='assets/js/sticky.js')}}"></script>

<!-- CUSTOM JS -->
<script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

<!-- Custom-switcher -->
<script src="{{url_for('static', filename='assets/js/custom-swicher.js')}}"></script>

<!-- Switcher js -->
<script src="{{url_for('static', filename='assets/switcher/js/switcher.js')}}"></script>

<script>
    // if current-study-toggle is checked, then disable end-date-study input and make required false
    $('#current-work-toggle').change(function () {
        if ($(this).prop('checked')) {
            $('#end-date-work').prop('disabled', true);
            $('#end-date-work').prop('required', false);
        } else {
            $('#end-date-work').prop('disabled', false);
            $('#end-date-work').prop('required', true);
        }
    });
</script>
{% endblock %}